<!DOCTYPE html>
<html>

   <head>
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />    
   <link rel="stylesheet" href="/static/stylesheets/styles.css?q=1280549780"   type="text/css" media="screen" charset="utf-8" />
   <title>LIBRARY MANAGEMENT APP</title>
   </head>
	
   <body>
   <div class="topnav">
         <a href="home",name="home",id="home">Home</a>
         <a href="about",name = "about",id = "about">About</a>
         <a href="contact",name="contact",id = "contact">Contact</a>
         <a href="logout",name="logout",id = "logout">logout</a>
      </div>
    <form id="form_body" action="http://127.0.0.1:5000/searchdoccopy" method="post" id="form1" name="form1",target="_blank">
      <body>
         <h1>Welcome to Library DataBase</h1> <br> <br>
         <h2> Enter the details of the document's copy, to be searched !</h2>
         <form action="http://127.0.0.1:5000/searchdoccopy" method="post" id="form1" name="form1",target="_blank">
            <table id="search_doc_copy_table" align="center">
            <tr>
              <td>Document ID : </td> <td><input type="text" name="docid" id="docid"></td><br>
             </tr>
             <tr>
              <td>Copy No : </td> <td><input type="text" name="copyno" id="copyno"></td><br>
             </tr>
             <tr>
              <td>Library ID : </td> <td><input type="text" name="libid" id="libid"></td><br>
             </tr>
              <td><input type="submit" value="Submit"></td>
             </tr>
            </table>
           </form>
     </body>
      {% with messages = get_flashed_messages() %}  
      {% if messages %}  
            {% for message in messages %}  
                 <p>{{ message }}</p>  
            {% endfor %}  
      {% endif %}  
   {% endwith %}  
   </body>
	
</html>